<!-- FOOTER -->

<footer id="main-footer" class="text-center">
    <!-- DONATE -->
    <section id="donnate">
        <div class="fixed-bottom m-5 d-flex justify-content-end">
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="top"
                title="Contribute to the Mission"
                data-content="Help a kid in need right now, by donnating to Mountain Mission School">
                <i class="fas fa-donate fa-5x donnateIcon" style="color:#286341"></i>
            </a>
        </div>
    </section>

    <!-- The actual footer -->
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
                <img src="/img/MMS Logo.png" class="img-fluid w-75">
            </div>
            <div class="col-md-3 border-right border-left pl-5">
                <p class="text-sm-left text-muted">
                    1760 Edgewater Dr. <br>
                    Grundy, VA. 24614 <br>
                    Tel: (276) 935 - 2954 <br> <br>
                    <a class="text-white" href="#"><u>Contact Information</u></a>
                </p>
            </div>
            <div class="col-md-3 text-sm-left border-right pl-5 ">
                <p class="mb-2"><a class="text-white" href="#">Apply Now</a></p>
                <p class="mb-2"><a class="text-white" href="#">Schedule a Visit</a></p>
                <p class="mb-2"><a class="text-white" href="#">Request More Info</a></p>
                <p><a class="text-white" href="#">Sponsor a Child</a></p>
            </div>
            <div class="col-md-3 mt-5 d-flex align-content-center">
                <a href="#"><i class="fab fa-linkedin fa-3x mr-3 ml-2" style="color:#cfcdc8"></i></a>
                <a href="#"><i class="fab fa-facebook fa-3x mr-3" style="color:#cfcdc8"></i></a>
                <a href="#"><i class="fab fa-youtube fa-3x mr-3" style="color:#cfcdc8"></i></a>
                <a href="#"><i class="fab fa-twitter fa-3x" style="color:#cfcdc8"></i></a>



            </div>
        </div>
        <div class="row pt-4">
            <div class="col">
                <p class="text-muted">Copyright &copy; <span id="year"></span> Mountain Mission School.
                    All rights reseved.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Jquery Script  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
</script>

<!-- Flip  -->
<!-- <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script> -->

<!-- Date Picker -->
<script src="bootstrap-datepicker.js"></script>

<!-- Popper Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>

<!-- BootStrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
</script>

<!-- Carousel Scrip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js">
</script>

<!-- ekko-lightbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<script>
    // // Flip effect

    // $("#card").flip();
    // // $("#card").flip('toggle');

    // Get the current year for the copyright
    $("#year").text(new Date().getFullYear());

    // Init Slick
    $(".slider").slick({
        infinite: true,
        slideToShow: 1,
        slideToScroll: 1
    });

    // Date Picker
    $(function () {
        $('.dates #user1').datepicker({
            'format': 'yyyy-mm-dd',
            'autoclose': true
        })

    })

    // Wrap every letter .
    var textWrapper1 = document.querySelector('.ml3');
    textWrapper2 = document.querySelector('.ml2')
    textWrapper1.innerHTML = textWrapper1.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
    textWrapper2.innerHTML = textWrapper2.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({
            loop: false,
        })
        .add({
            targets: ['.ml3 .letter', '.ml2 .letter'],
            opacity: [0, 1],
            easing: "easeInOutQuad",
            duration: 500,
            delay: (el, i) => 150 * (i + 1)
        });

    anime({
        targets: '.ml1',
        translateX: [100, 250], // from 100 to 250
        delay: 500,
        direction: 'alternate',
        loop: true
    });
</script>

<script>
    // Configure Slider
    $(".carousel").carousel({
        interval: 6000,
        pause: "hover"
    });

    // TODO: Fix this,  Testimony Slider 
    $(".slider").carousel({
        interval: 1,
        pause: "hover"
    });

    // Lightbox Init
    $(document).on("click", '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

    // Video Play
    $(function () {
        // Auto play modal video
        $(".video").click(function () {
            var theModal = $(this).data("target"),
                videoSRC = $(this).attr("data-video"),
                videoSRCauto =
                videoSRC +
                "?modestbranding=1&rel=0&controls=0&showinfo=0&html5=1&autoplay=1";
            $(theModal + " iframe").attr("src", videoSRCauto);
            $(theModal + " button.close").click(function () {
                $(theModal + " iframe").attr("src", videoSRC);
            });
        });
    });
</script>

<script>
    document.getElementById('cardApplication').style.display = 'none'
    $(document).ready(function () {
        $('.displayMainRow').click(function () {
            storyOne = document.getElementById('pageOne')
            storyTwo = document.getElementById('pageTwo')
            storyTwo.style.display = 'none'
            storyOne.style.display = 'flex'
        })
        $('#pageBtnTwo').click(function () {
            storyOne = document.getElementById('pageOne')
            storyTwo = document.getElementById('pageTwo')
            storyTwo.style.display = 'flex'
            storyOne.style.display = 'none'

        })

        $('.ml1').click(function () {
            cardApplication = document.getElementById('cardApplication')
            wlcmsg = document.getElementById('wlcmsg')
            wlcmsg.style.display = 'none'
            cardApplication.style.display = 'flex'
        })

        $('[data-toggle="popover"]').popover()

        $('.donnateIcon').popover({
            trigger: 'hover'
        })


    })
</script>