<% include ../partials/header  %>

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>About Us</h1>
        <p>
          Rescuing Kids. Raising Leader. Reaching Nations.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>What We Do</h1>
        <p>
          Our mission is to stand as a refuge, resource and relief for the child in need by providing: <br>
          <div id="list2">
            <ol>
              <li>
                <p><em>Home</em>
                  First-class residential care for the children to incllude:
                  shelter,clothing and nutritious meals, accompanied by loving, adult nurture and guidance.
                </p>
              </li>
              <li>
                <p><em>Schol</em>
                  First-class education opportunity and instruction for her student body to include:
                  classrom Biblical, academic and enrichment studies along with a wide range of extracurricular
                  activities.
                </p>
              </li>
              <li>
                <p><em>Church</em>
                  A continual occasion to encounter the Christian gospel for her children,
                  staff, and any who should visit the campus, to include: regularly scheduled hours
                  of congregational worship, in-residence and in-school devotional periods, realting
                  the truth of Christianity to all areas of academic or envrichment studies, home life
                  and the human condition generally.
                </p>
              </li>
              <!-- <li><p><em>The United Kingdom</em> of Great Britain and ...</p></li> -->
            </ol>
          </div>
          In all things to offer the best of our efforts to Jesus Christ for the glory of God the father through the
          help and good offices of the Holy Spirit.<br>
        </p>
      </div>
      <div class="col-md-6">
        <section id="video-play-2">
          <div class="dark-overlay-2">
            <div class="row">
              <div class="col">
                <div class="container p-5">
                  <a data-toggle="lightbox" href="https://player.vimeo.com/video/139265077" data-width="1280">
                    <i class="fas fa-play fa-3x"></i>
                  </a>
                  <h1 class="mt-3">See What We Do</h1>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- ICON BOXES -->
<section id="icon-boxes" class="p-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="card bg-green text-white text-center">
          <div class="card-body">
            <i class="fas fa-building fa-3x"></i>

            <!-- Our History modal -->
            <h3> <button type="button" class="btn btn-success mt-2" data-toggle="modal"
                data-target=".bd-example-modal-xl">
                Our History
              </button>
            </h3>

            <div class="modal hide fade bd-example-modal-xl" tabindex="-1" role="dialog"
              aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

              <div class="modal-header">
                <h2 class="modal-title bg-green " id="exampleModalLabel">Our History</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-content text-dark p-5">
                <h3>The Setting</h3>
                <p>The time was early Spring of 1888. The plass was the mountainous terrain of
                  Eastern Kentucky. <br>
                  A 10-year old boy nambed Sam Hurley, poorly clad, was alone in the woods and was about
                  to "bed down" for the evening. Day after day, he had walked from one house to another,
                  searching for woek in exchange fo food to eat. His father had died earlier and there was no income in
                  the Hurley household.
                  The few jars of canned foood in the pantry had been gone for days.
                </p>
                <h3>The Promise </h3>
                <p>Sam found a rock outcropping which he called a cave and kicked the stones around
                  to make a smooth place to lie down. Some half-decayed leaves pulled up arround him provided a blanket
                  of warmth
                  to his shivering body. Then, he was struck with fear: the fierce call of the catamount
                  (mountainlion)... coming closer and closer
                  ... drove him to call to God for help. He prayed for God's protection throughout the night. He told
                  God if he would spare him from the catamount,
                  he would build a place for boys and girls like himself so they wouldn't have to sleep in the woods.
                  <br>
                  Sam did make it through the night ... and through many more. <br>
                  After some very rough beginnings, he became a successful businessman, He never attended school. At the age of 22 he married the love 
                  of his life, Jane Looney. Jane taught him how to read and write. Sam was successful and, of course, never gave his
                  promise to God a second thought... until a little boy (much like himself) came into his office in the 
                  courthouse in Grundy, Birgini, and asked if Mr. Hurley would take him into his house and heep him because he didn't have anywhere to go.
                  He told the boy he had seven children of his own and had taken in nine others and he did not have room for him. 
                </p>
                <h3>Fulfilling the Promise</h3>
                <p>Later that same day when Sam went out of the courthouse to lunch, he noticed the little boy sitting up against the 
                  courthouse crying, Then, he remembered his promise. He immediately visited his lawyer who completed the 
                  necessary paperwork for starting Grundy Academy, which later became Mountain Industrial Institute ... 
                  Which is now Mountain Mission School. 
                </p>
                <h3>MMS Today</h3>
                <p>It is estimated that more than 20,000 children have received care at MMS since its founding in 1921. Chris Slone,
                  great-grandson of Sam Hurley, serves as the school's sixth president. <br>
                  The campus first consisted of one building and now contains Hurley Hall for Girls (3 separeate residences), 
                  Parker Hall (4 separate residences) and Toddler Hall (for boys and girls under 7 years) plus an educational building.
                  Vocation and fine arts building, campus chapel and administration building. It is much like a small college 
                  campus. Typically, 200-230 resident student (ages 18 months to 20 years) reside on campus. <br> 
                  A fine private school consisting of grades pre-k through 12 operates on the campus. 
                  MMS teachers with advanced degrees teach several college courses to MMS students. There are 40+ staff members. All students
                  from kindergarten through high school are computer literate and all high school students are computer competent. <br>
                  More than 95%of MMS graduates fo on to college!
                </p>
              </div>
              <div class="modal-dialog">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>

            It all started by a man recognizing a need and doing something about it. 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <i class="fas fa-bullhorn fa-3x"></i>
            <h3>Student Profiles</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
            delectus.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-green text-white text-center">
          <div class="card-body">
            <i class="fas fa-comments fa-3x"></i>
            <h3>Why We Loves MMS</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
            delectus.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <i class="fas fa-box fa-3x"></i>
            <h3>Statement of Faith</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
            delectus.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-green text-white text-center">
          <div class="card-body">
            <i class="fas fa-credit-card fa-3x"></i>
            <h3>Sample Heading</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
            delectus.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <i class="fas fa-coffee fa-3x"></i>
            <h3>Sample Heading</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
            delectus.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section id="testimonials" class="p-4 bg-dark text-white">
  <div class="container">
    <h2 class="text-center">Testimonials</h2>
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                John Doe From
                <cite title="Company 1">Company 1</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                Sam Smith From
                <cite title="Company 2">Company 2</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                Meghan Williams From
                <cite title="Company 3">Company 3</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer  %>


</body>

</html>