<% include ../partials/header  %>

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>About Us</h1>
        <p>
          Rescuing Kids. Raising Leader. Reaching Nations.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h1>What We Do</h1>
        <p>
          Our mission is to stand as a refuge, resource and relief for the child in need by providing: <br>
          <div id="list2">
            <ol>
              <li>
                <p><em class="mb-2"> <mark class="h2">Home</mark> </em>
                  First-class residential care for the children to incllude:
                  shelter,clothing and nutritious meals, accompanied by loving, adult nurture and guidance.
                </p>
              </li>
              <li>
                <p><em class="mb-2"><mark class="h2">School</mark> </em>
                  First-class education opportunity and instruction for her student body to include:
                  classrom Biblical, academic and enrichment studies along with a wide range of extracurricular
                  activities.
                </p>
              </li>
              <li>
                <p><em class="mb-2"><mark class="h2">Church</mark> </em>
                  A continual occasion to encounter the Christian gospel for her children,
                  staff, and any who should visit the campus, to include: regularly scheduled hours
                  of congregational worship, in-residence and in-school devotional periods, realting
                  the truth of Christianity to all areas of academic or envrichment studies, home life
                  and the human condition generally.
                </p>
              </li>
            </ol>
          </div>
          In all things to offer the best of our efforts to Jesus Christ for the glory of God the father through the
          help and good offices of the Holy Spirit.<br>

        </p>
      </div>

      <div class="col-md-6">
        <section id="video-play-2">
          <div class="dark-overlay-2">
            <div class="row">
              <div class="col">
                <div class="container p-5">
                  <a data-toggle="lightbox" href="https://player.vimeo.com/video/139265077" data-width="1280">
                    <i class="fas fa-play fa-3x"></i>
                  </a>
                  <h1 class="mt-3">Meet The Kids</h1>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>

<!-- ICON BOXES -->
<section id="icon-boxes" class="p-5">
  <div class="container">

    <div class="row mb-3">

      <!-- Our History modal -->
      <div class="col-md-4">
        <div class="card bg-green text-white text-center">
          <div class="card-body">
            <i class="fas fa-building fa-3x"></i>

            <h3> <button type="button" class="btn btn-dark mt-2" data-toggle="modal" data-target=".ourHistoryModay">
                Our History
              </button>
            </h3>

            <div class="modal hide fade ourHistoryModay" tabindex="-1" role="dialog"
              aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

              <div class="modal-header">
                <h2 class="modal-title bg-green " id="exampleModalLabel">Our History</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-content text-dark" style="padding: 50px 300px 50px 300px;">
                <h3>The Setting</h3>
                <p>The time was early Spring of 1888. The plass was the mountainous terrain of
                  Eastern Kentucky. <br>
                  A 10-year old boy nambed Sam Hurley, poorly clad, was alone in the woods and was about
                  to "bed down" for the evening. Day after day, he had walked from one house to another,
                  searching for woek in exchange fo food to eat. His father had died earlier and there was no income in
                  the Hurley household.
                  The few jars of canned foood in the pantry had been gone for days.
                </p>
                <h3>The Promise </h3>
                <p>Sam found a rock outcropping which he called a cave and kicked the stones around
                  to make a smooth place to lie down. Some half-decayed leaves pulled up arround him provided a blanket
                  of warmth
                  to his shivering body. Then, he was struck with fear: the fierce call of the catamount
                  (mountainlion)... coming closer and closer
                  ... drove him to call to God for help. He prayed for God's protection throughout the night. He told
                  God if he would spare him from the catamount,
                  he would build a place for boys and girls like himself so they wouldn't have to sleep in the woods.
                  <br>
                  Sam did make it through the night ... and through many more. <br>
                  After some very rough beginnings, he became a successful businessman, He never attended school. At the
                  age of 22 he married the love
                  of his life, Jane Looney. Jane taught him how to read and write. Sam was successful and, of course,
                  never gave his
                  promise to God a second thought... until a little boy (much like himself) came into his office in the
                  courthouse in Grundy, Birgini, and asked if Mr. Hurley would take him into his house and heep him
                  because he didn't have anywhere to go.
                  He told the boy he had seven children of his own and had taken in nine others and he did not have room
                  for him.
                </p>
                <h3>Fulfilling the Promise</h3>
                <p>Later that same day when Sam went out of the courthouse to lunch, he noticed the little boy sitting
                  up against the
                  courthouse crying, Then, he remembered his promise. He immediately visited his lawyer who completed
                  the
                  necessary paperwork for starting Grundy Academy, which later became Mountain Industrial Institute ...
                  Which is now Mountain Mission School.
                </p>
                <h3>MMS Today</h3>
                <p>It is estimated that more than 20,000 children have received care at MMS since its founding in 1921.
                  Chris Slone,
                  great-grandson of Sam Hurley, serves as the school's sixth president. <br>
                  The campus first consisted of one building and now contains Hurley Hall for Girls (3 separeate
                  residences),
                  Parker Hall (4 separate residences) and Toddler Hall (for boys and girls under 7 years) plus an
                  educational building.
                  Vocation and fine arts building, campus chapel and administration building. It is much like a small
                  college
                  campus. Typically, 200-230 resident student (ages 18 months to 20 years) reside on campus. <br>
                  A fine private school consisting of grades pre-k through 12 operates on the campus.
                  MMS teachers with advanced degrees teach several college courses to MMS students. There are 40+ staff
                  members. All students
                  from kindergarten through high school are computer literate and all high school students are computer
                  competent. <br>
                  More than 95%of MMS graduates fo on to college!
                </p>
              </div>
              <div class="modal-dialog">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>

            It all started by a man recognizing a need and doing something about it.
          </div>
        </div>
      </div>

      <!-- Student Profile -->
      <div class="col-md-4">
        <div class="card bg-dark text-white text-center">
          <div class="card-body">
            <i class="fas fa-bullhorn fa-3x"></i>

            <h3>
              <button type="button" class="btn btn-outline-primary mt-2 displayMainRow" data-toggle="modal"
                data-target=".studentProfileModay">
                Student Profile
              </button>
            </h3>

            <div class="modal hide fade studentProfileModay" tabindex="-1" role="dialog"
              aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

              <div class="modal-header">
                <h2 class="modal-title bg-green " id="exampleModalLabel">Student Profile</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-content text-dark pt-2 pb-5 bg-light">
                <div class="modal-dialog"></div>

                <div class="row mt-4" id="pageOne">

                  <div class="col-md-6">
                    <div id="accordion">

                      <!-- Solome's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseOne" data-toggle="collapse" data-parent="accordion" class="text-white">
                              Solome
                            </a>
                          </h5>
                        </div>
                        <div id="collapseOne">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Serome.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                Before moving here I gre up with my mom who was addicted to drugs.
                                I rarely attended school because she was never sober enough to take ,e . At MMS I feel
                                safe because I know the poeple here really care about me. I am able to go to school and
                                get a
                                great education. <br>
                                Since I was 7 years old I dreamed of one day becoming a doctor who would deliver
                                babies. I fell that's what God wants me to be. I think that's why Je brought me
                                to MOuntain Mission School. Being here is part of the journey to living my
                                dream. God is making my path straight and I am excited about my future. </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <!-- Kayange's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseTwo" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Kayange
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Keyange.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                I grew up in family of seven kids in a really bad part of louisville. It was a very hard
                                time
                                for us, especially when my little siter was diagnosed with Slickle Cell Anemia. I don't
                                thik
                                my mom was handling it all well, because she started drinking. My dad was just sad most
                                of
                                the time <br>
                                I kept wondering where God was in al of this. <br>
                                My mom went to rehag and all of us kids were sent to fifferent places. I was put into
                                foster
                                care.
                                Later on throughout my life, God turned my life around. God gave me a chance to go to
                                summer
                                camp. The director knew
                                about MOuntain Mission School and suggested it for me since things were not good back at
                                home.
                                <br>
                                I like it here. I can get all the help I need. I don't have to stress about home. I can
                                focus
                                on my
                                schoolwork. God is good in many ways.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Keyone's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseThree" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Keyone
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Keyone.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                Where I lived wasn't a very safe place. It was just me, my mom, and my sisters. My dad
                                is in
                                prison
                                for doing a very bad thing. We didn't have a lot of food, and my mom said it wasn't safe
                                at
                                home, so she
                                brought me to Mountain Mission school. <br>
                                It is a whole lot better here than I imagined it would be. The food is really
                                good, and I have learned about Jesus and how He watches over me.
                                When I grow up. I want to go to college and then into the Air Force so I can protect
                                people.
                                <br>
                                Right now, I am here at MMS, but that's OK because it is a very beautiul and safe place.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Emmanuel's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseEmmanuel" class="text-white" data-toggle="collapse"
                              data-parent="accordion">
                              Emmanuel
                            </a>
                          </h5>
                        </div>
                        <div id="collapseEmmanuel" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Emmanuel.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                I started playing trumpet just a year ago, not long before I moved to MMS. I want to be
                                a musician when I grow up and worship the Lord with my trumpet. I love Psalm 150 because
                                it talks about praising the Lord with my trumpet. <br>
                                Soccer is my favorite sport, but I love basketball, too. I never played basketball
                                before
                                coming to MMS. I'm still learning English, but my favorite subject is Math. I like MMS
                                because it is a good school and I get time to play and practice my trumpet. <br>
                                My dad always told me to help two or more people when I grow up. MMS is helping me do
                                that
                                thank you!
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Daniel's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseDaniel" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Daniel
                            </a>
                          </h5>
                        </div>
                        <div id="collapseDaniel" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Daniel.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  Sometimes Mountain Mission provides children from intact families oportunities that
                                  would otherwise be unattainable. Daniel was from an impoverished family in Portugal
                                  that had little hope of offering their son an education or a future. For Danie,
                                  basketball camp proved to be the bridge between Portugal and Virginia.
                                </p>
                                <p>
                                  "I went to an NBA camp, and I think I got the attention of the president and
                                  vice-president of the camp. They said Mountain Mission School in America would be the
                                  best school for me"
                                </p>
                                <p>
                                  Here at MMS, Daniel's skills advanced so much that he is the first MMS student ever to
                                  sign a nation letter of intent for a Division I school. He'll be attending Valparaiso
                                  University in Indiana this fall on basketball scholarship, and this summer will be
                                  returning to Portugal to complete on the national team in the Portuguese Basketball
                                  Federation.
                                </p>
                                <p>
                                  Mountain Mission has provided Daniel the educational opportunity that were beyond the
                                  reach of his family in Portugal, enabling him to discover his strengths in tecnical
                                  studies, and giving him new direction. "I want to play professional basketball, but if
                                  I don't , I'd like to go into Mechanical Engineering."
                                </p>
                                <p>
                                  Asked what he has liked best about MMS, Daniel has a quick reply. "The studies,
                                  everything All the techers help you. If you need something, they come to you
                                  individually and explain it to you. I never had anything like that in Portugal."
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <div id="accordion">

                      <!-- Mae's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseFour" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Mae
                            </a>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Mae.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                My parents brought me and my sister to MMS when I was three. <br>
                                Growing up here for most of my life, MMS redefined family for me. I ahve felt so secured
                                and loved by them.
                                They believed in me even when I didn't believe in myself. They have inspired me to make
                                a difference and pay it forward
                                into the lives of others. <br>
                                I will be attending George Mason University in the fall, where I will double-major in
                                Business and Rahabilitation Science.
                                I hope to own physical therapy facility. <br>
                                I honestly don't know where I'd be witout MMS. Thank you to everyone who made it
                                possible for me to grow up here.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Yonatan's Story  -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseFive" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Yonatan
                            </a>
                          </h5>
                        </div>
                        <div id="collapseFive" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Yonatan.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                I feel protected here at MMS. I feel loved here. And I love my teachers here <br>
                                They tell me that when I grouw up, I can do anything I want. When I grow up, I want two
                                jobs. I want to be
                                a doctor to save people's lives. And I want to be scientist to make new discoveries in
                                medicine or in the starts. <br>
                                I also get to learn about Jesus at MMS. This means I'm never lonely. And if I'm ever
                                sad, I think about Jesusand He
                                always cheers me up.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Roosevelt's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseSix" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Roosevelt
                            </a>
                          </h5>
                        </div>
                        <div id="collapseSix" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Roosevelt.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                I came to Mountain Mission School when I was 16, homeless and flunking out of Hish
                                School. Having moved countless times
                                looking for a stable home, Mountain Mission School has been a safe haven for me. it's a
                                blessing to not have to worry about
                                where my next meal will come form or having to find a safe place to sleep. MMS has
                                provided me with an excellent education that
                                will help me towards my dream of being a pharmacist or therapist. With God's help, I
                                plan on attending Emory & Henry in the fall.
                                I am thankful for all He has provided to give me a hope and a future. Thank you for your
                                sponsorship- it has opened the world to
                                me.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Mulki's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseMulki" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Mulki
                            </a>
                          </h5>
                        </div>
                        <div id="collapseMulki" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Mulki.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  Seventy years after Jimmy's arrival(see story below), Mountain Mission still offers a
                                  home to children in tragic circumstances. Just a few months ago, little two year-old
                                  Mulki came to our door in a situation not unlike Jimmy's. Her mother had died during
                                  childbirth, and her father was having difficulty raising Mulki and her brother. The
                                  father, a refugee from Africa, had a job, but it was far from his home, and childcare
                                  was a constant struggle.
                                </p>
                                <p>
                                  Without a family he could turn to for help- and after exhausting the assistance from
                                  local agencies - the father extended a heartfelt plea to Mountain Mission: "I am in a
                                  trubled situation. I request that Mountain Mission School see my situation, my
                                  problem, to understand and help me and the children. I want them to grow up at the
                                  school. I need emergency help".
                                </p>
                                <p>
                                  Mountain Mission was able to answer his cry , and today, Mulki and her brother have
                                  the safe,stable environment her father so desperately desired for his children.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Jimmy's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseJimmy" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Jimmy
                            </a>
                          </h5>
                        </div>
                        <div id="collapseJimmy" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Jimmy.PNG"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  Mountain Mission is the only home some children have ever known. Taht was true for
                                  Jimmy Hooker, Who arrived at Mountain Mission when tragedy struck his family.
                                </p>
                                <p>
                                  "I was brought to Mountain Mission after my mother died in 1942," Jimmy recalls. " I
                                  was four years old. There were threee of us: my two sisters were six and eight. My
                                  father couldn't take care of alll of us agrer we lost our mother, so I lived here all
                                  the time until I went into the Air Force. It's been home... it's stil home. That's why
                                  I always say I come from Mountain Misson School."
                                </p>
                                <p>
                                  Now retired, Jimmy looks back on his years at Mountain Mission and sees the enduring
                                  benefits it brought to his life.
                                </p>
                                <p>
                                  "For me, Mountain Mission taught me how to work, how to make a living, how to be
                                  respectful... and they taught me about the Lord Jesus Christ. You couldn't ask for
                                  anybody to teach you anything better than that-to love the Lord and be a part of His
                                  Kingdom. They gabe me direction in life, and that's what they're doing for the kids
                                  here now."
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="row mt-4" id="pageTwo">

                  <div class="col-md-12">
                    <div id="accordion">

                      <!-- Yodit's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseYodit" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Yodit Kifle
                            </a>
                          </h5>
                        </div>
                        <div id="collapseYodit">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/MMS Logo.png"
                                  class="card-img img-fluid">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>I believe MMS is a UNIQUE place where God handd picks those who attend and who serve
                                  because He has called them to carry His light in a different way. It's a place where
                                  Unique seeds of love are planted. It's a place where unless you've experienced it, you
                                  won't reaaly get it:-) And I'm proud to be UNIQUE because of MMS
                                </p>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Amaha's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseAmaha" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Amaha Sheferaw
                            </a>
                          </h5>
                        </div>
                        <div id="collapseAmaha" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/MMS Logo.png"
                                  class="card-img img-fluid">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  I support Mountain Mission School because I love the vision of the ministry, I love
                                  the teachers who thought me, and I love the students who are inspiring. Every visit
                                  to Mountain Mission School is also a reminder of God's divine purpose in my own
                                  life.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Kadist's Story  -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseKadist" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Kadist Mulugeta
                            </a>
                          </h5>
                        </div>
                        <div id="collapseKadist" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/MMS Logo.png"
                                  class="card-img img-fluid">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  MMS laid out a strong foundation of faith that I am able to carry on to this day.
                                  Because my foundation is gug deep and laid on a rock, I am always sure of who I am.
                                  I am a child of God and nothing can shake me. When I think of MMS, I always think of
                                  the strong foundation it gave me. Luke 6: 47-49.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Elie's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseElie" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Elie Bizimana
                            </a>
                          </h5>
                        </div>
                        <div id="collapseElie" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Elie.png"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  I was born in 1994 in the East African country of Rwanda, just after the 100 day
                                  genocide that killed over half of our population. Unfortunately my father did not
                                  survive. Though I never knew himm my mother told me he was a prayerful, generous and
                                  kind man.
                                </p>
                                <p>
                                  The only thing my mother wanted her kids to have was the one thing she never had-and
                                  education. So I studied hard, in three different countries with three different
                                  cultures: Rwanda, Uganda and the United States.
                                </p>
                                <p>
                                  At school in Uganda, because I couldn't speak the language, for almost two years I
                                  couldn't talk to friends or write down notes as required. We awoke every day at 3
                                  a.m, and everyday I was beatean with a cane. But despite the hardshipe, I grew
                                  spiritually more than ever, and I saw God working in my life like never before.
                                </p>
                                <p>
                                  One day my mother came to visit me at school. It was a special, funny and
                                  unforgettable day. We laughed, we ate, and she told me wise sayings just the way she
                                  always did. Threee weeks later she was dead of cancer.
                                </p>
                                <p>I never knew she was even sick</p>
                                <p>I was left in the house with my stepfather and two stepbrothers. My stepfather
                                  treated me harshly and unfairly, and eventually told me to pack up my things and
                                  leave the house. I felt so hopeless and helpless. With no money for school, it
                                  seemed I had no future
                                </p>
                                <p>But four days later a miracle happened.</p>
                                <p>
                                  Other family members stepped in, paid for me to finish my schooling in Uganda, and
                                  prepared the war for me to come to the United States, to the small town of Grundy-
                                  to my new home, MOuntain MIssion School.
                                </p>
                                <p>
                                  I grew up in a country where children are abused, both physically and mentally. They
                                  are repeated told they are stupid, useless and unable to make it in life. They are
                                  beaten, caned and harassed. Many become orphans. Some run away. Too many become
                                  street children and prostitutes.
                                </p>
                                <p>I got the chance to escape this end. And I want to leave a legacy that will never
                                  be forgotten. "Help the hopeless kids arround the world"- that's my vision. That's
                                  my future.
                                </p>
                                <p>
                                  I hope to create a brighter future for therse kids by sending a crystal-clear
                                  message to all people with ability and resources: Stop for a minute and look at
                                  what's going on around the world and do something. Together we can change the woeld.
                                  My greated widh is not just to change this generation, but the next generation, as
                                  well: to five children a reason to live, a reason to go to school, and the strength
                                  and courage to face life.
                                </p>
                                <p>
                                  That's my plan after college, may God help me. My mother taught me to "love your
                                  neighbor as yourself"-and that with a little help here and a little push there, you
                                  can change people's lives. All it takes is a little push.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Hanna's Story -->
                      <div class="card bg-dark">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <a href="#collapseHanna" class="text-white" data-toggle="collapse" data-parent="accordion">
                              Hanna Tarko
                            </a>
                          </h5>
                        </div>
                        <div id="collapseHanna" class="collapse">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-md-3 d-flex align-items-center">
                                <img style="max-width: 150px; max-height: 200px;" src="/img/Hanna.png"
                                  class="card-img img-fluid rounded-circle">
                              </div>
                              <div class="col-md-9 text-white">
                                <p>
                                  My daram was always to work at a patient-focused health facility, and I am currently
                                  working for Inova Hospital in Fairfax, Virginia. Tank you so much for your unceasing
                                  generosity towards my education. Thanks to MMS, I am working toward a brighter future.
                                </p>
                                <p>
                                  Looking back at my years at Mountain Mission School, I cannot help but feel blessed
                                  and highly favored just to have gotteen the chance to be a part of a school that is
                                  full of love, care, and continuous spirirual growth. MMS strengthened my character and
                                  shaped me into a Christian young lady with values and opinions aligned with the Word
                                  of God.
                                </p>
                                <p>
                                  Living in a dorm with forty other girls, I learned the meaning of love. sharing,
                                  acceptance and accountability. I was continually encouraged to come out of my comfort
                                  zone and develop physically, mentally and spiritually.
                                </p>
                                <p>
                                  God uses Christians like you to demonstrate his grace to his undeserving childre. You
                                  made all the difference in my life. I am now willing to fibe back and serve my
                                  community and can be counted on for any task needed.
                                </p>
                                <p>
                                  Mountain Missin School gave me a solid foundation of truth and light by teaching me
                                  great christian values that I will nurture for the rest of my life and use as a
                                  measure for my children's upbringing. I am forver indebted to your devotion.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

                <nav aria-label="Page navigation example">
                  <ul class="pagination mt-4 d-flex justify-content-center">

                    <li class="page-item"><a class="page-link displayMainRow" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" id="pageBtnTwo" href="#">2</a></li>

                  </ul>
                </nav>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark btn-lg mx-auto" data-dismiss="modal">Close</button>
              </div>
            </div>

            Read the stories of kids that Mountain Mission School has been able to help.
          </div>
        </div>
      </div>

      <!-- Why We Love MMS -->
      <div class="col-md-4">
        <div class="card bg-green text-white text-center">
          <div class="card-body">
            <i class="fas fa-comments fa-3x"></i>
            <h3 class="mt-2">Why We
              <i class="btn btn-outline-danger far fa-heart" data-toggle="modal"
                data-target=".loveMMSModal"></i>
              MMS
            </h3>

            <div class="modal hide fade loveMMSModal" tabindex="-1" role="dialog"
              aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">

              <div class="modal-header">
                <h2 class="modal-title bg-green " id="exampleModalLabel">The John's Story</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-content text-dark" style="padding: 50px 300px 50px 300px;">
                <p>
                  The plans that most people make for their retirement years might include traveling, enjoying hobbies or spending more time with grandchildren. But as Garth and Elaine John approached retirement, they began to seek a ministry in which they could become actively involved. We are grateful that the Lord led them to Mountain Mission School. They had never visited MMS, but after leatning of it through their church, they decided to make the seven-hour trop from their home in Greenfield, IN, to see if this was where God wanted them to serve. It was!
                </p>
                <p>
                  As Garth explains, "When we visited MMS over ten years ago, we fell in love with the children and staff, We wanted to help in some way and to know more about the mission. It didn't take long to really appreciate what was happening for the children both educationally and-more importantly-their opportunity to know Jesus." Ten years and eighty-eight trips later, they are still a valuable part of the ministry here!
                </p>
                <p>
                  They have used their talents, passions and resources over the years to contribute in many ways. Garth has repaired furniture, installed coat hooks and baseboards, and handled countless other projects and repairs. Elaine has used her sewing skills to them and repair clothing for children, make curtains, and teach girls sewing. She has used her cooling talents to prepare breakfast at Toddler Hall,bake her famous banana bread, and host facultyu at her homemade suppers. 
                </p>
                <p>
                  Garth and Elaine helped set up and organize a "birthday room"( a strorage room for donated birthday gifts), contributed their time and money to make sure each child's birthday is celebrated, and regularly help prepare gifts for Christmas mornings.
                </p>
                <p>
                  The Johns continue to bless us even when they are not on campus! They have worked on projects at home in Indiana to bring on their next trip... opened their home to traveling staff and graduates...and introduced their neighbors to MMS. 
                </p>
                <p>
                  For more than a decade, Garth and Elaine have been servants, Christian role models, mentors, encouragers, contributors and friends to MMS. We believe God had a great reirement plan for them!
                </p>
                <p>
                  Garth and Elaine John
                  Faithfully serving MMS in their Retirement Years 
                  Greenfield, IN
                </p>
              </div>
              <div class="modal-dialog">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
              </div>
            </div>
            When God has a different plans for you, and all you have to say is "Use Me!!"
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section id="testimonials" class="p-4 bg-dark text-white">
  <div class="container">
    <h2 class="text-center">Testimonials</h2>
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                John Doe From
                <cite title="Company 1">Company 1</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                Sam Smith From
                <cite title="Company 2">Company 2</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Atque, quisquam?
              </p>
              <footer class="blockquote-footer">
                Meghan Williams From
                <cite title="Company 3">Company 3</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer  %>


</body>

</html>