<body id="applyPage">
    <% include ../partials/header.ejs %>

    <section id="numOne" class="card-container h-100 mx-auto text-center">
        <!-- Introductoin -->
        <section class="card-front card-flip" id="wlcmsg">
            <p class="ml3 mx-auto mb-0">Welcome to Mountain Mission School </p>
            <p class="ml2 mb-5">We are excited that you are here</p>
            <button class="btn btn-outline-info btn-lg text-light ml1">Let's Get To Know You</button>
        </section>

        <!-- Basic Info -->
        <section id="basicInfo" class="card-back card-flip">
            <div class="card mx-auto w-50  applicationCard">
                <div class="card-body">
                    <h5 class="card-title text-center">Mountain Mission School Application</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Applicant Information</h6>
                    <form>
                        <!-- Name -->
                        <div class="row mt-4">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" id="lastName"
                                        placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" id="firstName"
                                        aria-describedby="firstName" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" id="middleName"
                                        placeholder="Middle Name">
                                </div>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="number" class="form-control text-center" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="dates">
                                        <input type="text" name="dob" autocomplete="off" id="user1"
                                            class="form-control text-center" placeholder="Date">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" placeholder="Street Address">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control text-center"
                                        placeholder="City, State, Zip Code">
                                </div>
                            </div>
                        </div>
                        <!-- Check Boxes Info -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-0">
                                    <label for="anotherName">
                                        Are you under 18 years old?
                                    </label>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 ml-5">
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="ageY" name="age" class="custom-control-input">
                                            <label class="custom-control-label" for="ageY">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="ageN" name="age" class="custom-control-input">
                                            <label class="custom-control-label" for="ageN">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-check mb-0">
                                    <label for="anotherName">
                                        Are you a United States citizen?
                                    </label>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 ml-5">
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="citizenY" name="citizen"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="citizenY">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="citizenN" name="citizen"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="citizenN">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-check mb-0">
                                    <label for="anotherName">
                                        Have you ever been convicted of a misdemeanor or felony crime?
                                    </label>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 ml-5">
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="crimeY" name="crime" class="custom-control-input">
                                            <label class="custom-control-label" for="crimeY">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline d-inline">
                                            <input type="radio" id="crimeN" name="crime" class="custom-control-input">
                                            <label class="custom-control-label" for="crimeN">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="d-flex mt-4">
                        <button class="btn btn-info ctn ml-auto">Continue</button>
                    </div>

                </div>
            </div>
        </section>

    </section>

    <section id="numTwo" class="card-container h-100 mx-auto text-center">

        <!-- Front Card -->
        <section id="frontCard" class="front card-flip">
            <div class="card mx-auto w-50  applicationCard">
                <div class="card-body">

                    <h3 class="pt-3">Great </h3>
                    <h5 class="card-subtitle mb-2 text-muted text-cente">An email has been sent to you for verification
                    </h5>
                    <i class="far fa-paper-plane fa-9x pt-2 pt-4" style="color:#286341"></i>
                    <div class="d-flex mt-4">
                        <button class="btn btn-info cton ml-auto">Let's Continue</button>
                    </div>

                </div>
            </div>
        </section>

        <!-- Back card -->
        <section id="backCard" class="card-flip back">
            <div class="card mx-auto w-50  applicationCard ">
                <div class="card-body">
                    <h5 class="card-title text-center">Mountain Mission School Application</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Applicant Information</h6>

                    <h1 class="pt-5 pb-3">You Are Applying for a: </h1>

                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="student" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="student">Student Position</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="staff" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="staff">Staff Position</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="volunteer" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="volunteer">Volunteer Position</label>
                    </div>

                    <div class="d-flex mt-4 pt-5">
                        <button class="btn btn-info ml-auto toStdProfile">Continue</button>
                    </div>

                </div>
            </div>
        </section>

    </section>

    <section id="studentProfile" class="card-container h-100 mx-auto text-center">
        <!-- Front Card -->
        <section id="frontCard1" class="front card-flip">
            <div class="card mx-auto w-50  applicationCard">
                <div class="card-body">

                    <h3 class="pt-3">Student Proflie </h3>
                    <h5 class="card-subtitle mb-2 text-muted text-cente">An email has been sent to you for verification
                    </h5>
                    <i class="far fa-paper-plane fa-9x pt-2 pt-4" style="color:#286341"></i>
                    <div class="d-flex mt-4">
                        <button class="btn btn-info ml-auto toStdAppl">Let's Continue</button>
                    </div>

                </div>
            </div>
        </section>

        <!-- Back card -->
        <section id="backCard2" class="card-flip back">
            <div class="card mx-auto w-50  applicationCard ">
                <div class="card-body">
                    <h5 class="card-title text-center">Mountain Mission School Application</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Applicant Information</h6>

                    <h1 class="pt-5 pb-3">Student Profile: </h1>

                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="student" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="student">Student Position</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="staff" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="staff">Staff Position</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-inline">
                        <input type="radio" id="volunteer" name="age" class="custom-control-input">
                        <label class="custom-control-label h5" for="volunteer">Volunteer Position</label>
                    </div>

                    <div class="d-flex mt-4 pt-5">
                        <button class="btn btn-info ml-auto">Continue</button>
                    </div>

                </div>
            </div>
        </section>
    </section>

    <% include ../partials/footer  %>
</body>