<% include ../partials/header.ejs %>

    <!-- PAGE HEADER -->
    <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto text-center">
            <h1>Contact Us</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. A, sit!
            </p>
          </div>
        </div>
      </div>
    </header>

    <section id="contact" class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card p-4">
              <div class="card-body">
                <h4>Get In Touch</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab,
                  dolorum.
                </p>
                <h4>Address</h4>
                <p>550 Main st, Boston MA</p>
                <h4>Email</h4>
                <p>test@test.com</p>
                <h4>Phone</h4>
                <p>(555) 555-5555</p>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card p-4">
              <div class="card-body">
                <h3>Please Fill this out to contact us</h3>
                <hr />
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Phone Number"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea
                        placeholder="Message"
                        class="form-control"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <button
                        type="submit"
                        value="Submit"
                        class="btn btn-outline-danger text-center btn-block"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- STAFF -->
    <section id="staff" class="py-5 text-center bg-dark text-white">
      <div class="container">
        <h1>Our Staff</h1>
        <div class="row">
          <div class="col-md-3">
            <img
              src="img/person1.jpg"
              alt=""
              class="img-fluid rounded-circle mb-3"
            />
            <h4>Jane Doe</h4>
            <small>Marketing Manager</small>
          </div>
          <div class="col-md-3">
                <img
                src="img/person2.jpg"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h4>Sarah Willians</h4>
              <small>Business Manager</small>
          </div>
          <div class="col-md-3">
                <img
                src="img/person3.jpg"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h4>John Doe</h4>
              <small>CEO</small>
          </div>
          <div class="col-md-3">
                <img
                src="img/person4.jpg"
                alt=""
                class="img-fluid rounded-circle mb-3"
              />
              <h4>Steve Smith</h4>
              <small>Web Developer</small>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>Copyright &copy; <span id="year"></span> Glozoom</p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"
    ></script>

    <script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());
    </script>
  </body>
</html>
