<% include ../partials/header  %>

<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Home Ministry</h1>
        <p>
          Rescuing Kids. Raising Leader. Reaching Nations.
        </p>
      </div>
    </div>
  </div>
</header>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h1>All About the Ministry</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut dolor fuga commodi. Odit, nulla! Quidem, officia sit non, veritatis ratione et hic porro tempore animi dolore saepe quos natus molestiae inventore esse. Maxime animi, sint tempore voluptas sequi corrupti tempora est aliquam. Optio, deserunt voluptatibus impedit, quisquam magni ut eaque consectetur, totam ea provident quo ratione officia eius hic aliquam quos nemo vitae cupiditate! Magnam dolor aspernatur aliquam quam obcaecati, autem cum eum itaque aperiam doloribus ratione voluptates nam inventore quod, voluptas praesentium possimus sequi quos. Animi optio possimus iure earum, id incidunt doloribus nisi culpa, molestias quia unde saepe nihil neque facere, enim officiis ex. Beatae praesentium maiores suscipit maxime sequi, sit voluptate voluptatum, esse rem nihil atque accusantium eos illum, ab harum deleniti voluptas odio impedit dignissimos ipsam incidunt inventore adipisci magnam! Fugiat labore fugit libero velit illum dicta itaque, nemo quibusdam beatae atque, voluptate excepturi. Animi ab deleniti tenetur culpa alias ratione, aliquid, doloremque laboriosam pariatur deserunt labore quis debitis nihil modi provident et eius velit cum maiores quaerat libero sequi non! Id at minus, soluta, corporis officiis, deleniti similique vel aspernatur eligendi quia sed. Laudantium eos labore tempore necessitatibus repudiandae officia dolore consectetur ea aut accusantium doloremque reprehenderit ipsam repellendus placeat sunt dignissimos repellat quia sint, consequuntur esse veniam optio. Reprehenderit, voluptas dolore. Quo, nam cupiditate et dolore iure laboriosam fugiat iste, rerum hic voluptate dolorem illum illo sint reprehenderit! Atque, reiciendis placeat natus repellendus a minima at perferendis dignissimos, iure ut corrupti odio quos voluptatibus laborum vitae assumenda unde reprehenderit maxime beatae aperiam ad accusantium. Assumenda porro ullam quod corrupti sed amet quae consequatur molestias nisi dolores eius adipisci nobis et iste deserunt quam ipsam quisquam totam magni, perferendis at ad sint quia? Blanditiis explicabo voluptatum quo pariatur nihil soluta repudiandae natus eos, est quisquam! Sit deleniti accusamus eaque iure itaque totam, dolores beatae dolorem ut exercitationem libero, laborum similique! Culpa, facilis iste! Qui libero officiis temporibus distinctio! Vero quae illum, cupiditate nisi, reprehenderit laborum possimus magni cum dolorum ad totam temporibus iste recusandae hic vel corporis autem error! Error nisi corrupti dolorem rerum quam voluptatem inventore a dolorum sunt laborum, ipsa recusandae, iste rem autem maxime amet explicabo doloribus sapiente labore, mollitia eligendi earum! Adipisci facilis minima expedita minus, molestias eligendi? Deleniti harum temporibus consequuntur pariatur! Consequuntur provident nesciunt cum asperiores repudiandae fugiat adipisci similique sunt sed, expedita quia! Est mollitia esse corrupti nihil molestiae, consequuntur quo doloremque ut aliquid, iure odit eligendi, explicabo perferendis a laborum eum expedita veritatis harum totam! Officia sequi odio, est sint adipisci facere saepe dolorum culpa cupiditate iure magnam porro, itaque quas accusantium neque commodi quidem dolorem nemo eum eligendi inventore, at dolor maxime possimus. Sequi ea consectetur quos architecto repellendus soluta dolorem alias voluptas obcaecati, assumenda, fuga deleniti! Voluptatum ea voluptatibus excepturi esse, modi rerum. Velit ad explicabo consequatur architecto doloremque. Et voluptas rerum excepturi beatae, eius sed iste porro molestias vitae aut laboriosam aspernatur id sequi pariatur possimus illum voluptate culpa deserunt optio molestiae accusantium provident quaerat sint? Sed, enim. Ab laborum temporibus dolorem consequuntur delectus rerum reprehenderit nostrum incidunt dicta repellendus reiciendis quod error numquam, laudantium aperiam natus deserunt optio neque. Id quidem consequuntur ullam itaque? Ut possimus, officia dolorem quidem dolorum nemo quod cupiditate blanditiis amet a ipsum exercitationem consequatur accusantium! Adipisci nihil quis eos praesentium dolorem reprehenderit vel soluta rerum omnis sint laboriosam pariatur quidem quam perferendis, quasi sit. Incidunt quisquam asperiores id aliquam facilis earum, nobis reiciendis magni! Laborum quisquam inventore ut, voluptates animi doloribus error? Totam eligendi, officia doloremque mollitia illum ab tempora perferendis, ipsum sapiente dolorem hic quisquam magnam cupiditate quod cum fuga accusamus vero incidunt animi provident! Consequuntur, ipsa quasi. Libero amet ipsa voluptas repellendus repudiandae fugit velit illum quis odit. Fugiat facere doloremque odit illo sint voluptatibus. Odit, doloremque impedit! Ullam labore voluptatum et natus autem officiis molestiae magni quo quia quidem, repellendus corporis inventore, incidunt hic unde iure quasi ratione laboriosam fugiat quisquam! Officia reprehenderit minus veritatis ab numquam tempora dicta quidem laudantium sed dignissimos vel maiores exercitationem voluptate ut aperiam ex, deserunt amet eveniet, atque ipsam distinctio repudiandae, voluptates porro? Nam vero, corrupti hic veniam incidunt corporis ab qui illum dolore amet, esse ad consectetur, cupiditate aperiam reprehenderit voluptatibus pariatur quidem enim itaque aut asperiores! Dolorum, distinctio esse voluptates amet tempora incidunt, tempore ullam veniam aliquam aut magnam ab. Magni tempora dolores molestias magnam. Velit odit esse ex laborum voluptatem inventore itaque, quod, voluptas consectetur doloribus architecto animi sequi voluptates saepe quas. Dicta, nulla? Quod qui exercitationem, omnis nobis quibusdam atque sed dolores hic architecto est error. Illum deserunt, magnam ullam porro quis dolore molestias facere quas, temporibus quos vel a hic ab facilis sapiente asperiores nihil nobis iusto! Aspernatur, eveniet ipsa error at dignissimos expedita consequatur harum et, mollitia magnam fuga molestiae eius deleniti magni adipisci ea voluptas quasi atque perferendis libero! Recusandae quidem, cum at repellendus vitae consectetur ipsum nobis vero harum asperiores officiis suscipit nihil optio quisquam itaque velit dolor ratione quo dolore error voluptates aperiam et. Quis, nihil? Quidem dolorem dolor omnis voluptas praesentium vitae iste excepturi atque, sunt qui temporibus harum tenetur fuga incidunt debitis repudiandae in ex asperiores expedita consequuntur. Voluptatem possimus, aliquid ullam tempore vitae mollitia alias, excepturi iste ratione veritatis fuga atque ad id quibusdam illum accusantium vero temporibus odio harum voluptas nisi eveniet dignissimos nam assumenda! Quae, laborum! Incidunt ab ut praesentium possimus eveniet animi suscipit consectetur eum. Vel unde odit cum laboriosam veniam, est qui beatae eligendi itaque assumenda nisi hic officiis dolorum aperiam harum nam aliquam necessitatibus, labore facere et ducimus illum rerum nemo? Distinctio voluptatibus debitis quas accusantium unde, veniam porro odio pariatur doloremque quam in, commodi culpa dolores id iusto possimus autem, vero sit. Fuga pariatur placeat amet quae dicta tempora sint, autem, minima, sequi soluta dolore ex reiciendis odit illo nulla eius repellat repudiandae saepe! Nulla quibusdam vitae culpa ab dolorem nobis? Alias doloribus earum nisi ipsum dolor omnis! Repudiandae soluta placeat blanditiis obcaecati. Doloremque ab minima dolorem veniam tenetur excepturi temporibus?

        </p>
      </div>

      <div class="col-md-6">
        <section id="video-play-2">
          <div class="dark-overlay-2">
            <div class="row">
              <div class="col">
                <div class="container p-5">
                  <a data-toggle="lightbox" href="https://player.vimeo.com/video/139265077" data-width="1280">
                    <i class="fas fa-play fa-3x"></i>
                  </a>
                  <h1 class="mt-3">Meet The Kids</h1>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    </div>
  </div>
</section>

<% include ../partials/footer  %>