<% include ../partials/header.ejs %>

<body>

  <!-- SHOWCASE SLIDER -->
  <section id="showcase">
    <div class="carousel slide" id="myCarausel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#myCarausel" data-slide-to="0"></li>
        <li data-target="#myCarausel" data-slide-to="1"></li>
        <li data-target="#myCarausel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3 right-overlay">Home</h1>
              <p class="lead text-right-overlay">
                Over 20,000 students since 1921 had a chance to call MMS home.
              </p>
              <a href="/homeMinistry" class="btn btn-danger btn-lg">Learn More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block mb-5">
              <h1 class="display-3 center-overlay">School</h1>
              <p class="lead text-center-overlay">
                over 95% students that come to MMS, continue to go college arround the country.
              </p>
              <a href="#" class="btn btn-primary btn-lg">Learn More</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3 right-overlay">Church</h1>
              <p class="lead text-right-overlay">
                "God First", everyting with do we put God first.<br>
                "that he who began a good work in you will carry it on to completion"
              </p>
              <a href="#" class="btn btn-success btn-lg">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <a href="#myCarausel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarausel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  <!-- HOME ICON SECTION -->
  <section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-home fa-5x mb-2"></i>
          <h3>Home</h3>
          <p>
            Providing a safe haven in a family atmosphere for thousands of children since 1921.
          </p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-school fa-5x mb-2"></i>
          <h3>School</h3>
          <p>
            Over 95% of our graduates continue on to college, trade school, or the military
          </p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-church fa-5x mb-2"></i>
          <h3>Church</h3>
          <p>
            We are Christ's body connection people to Christ, a family of faith and advancing the kingdom of God.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO PLAY -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a data-toggle="lightbox" href="https://player.vimeo.com/video/363720635" data-width="1280">
              <i class="fas fa-play fa-3x"></i>
            </a>
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INFO SECTION -->
  <section id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>Apply Now</h3>
          <p>
            Either you are a student intrested, a teacher wanting to join or church called to help.
            Apply now and lets start talking.
          </p>
          <a href="apply" class="btn btn-outline-danger btn-lg">Apply Now</a>
        </div>
        <div class="col-md-6">
          <img src="img/laptop.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>

  <!-- HOME HEADING SECTION -->
  <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">
              Join the Mountain Mission Ministry and become a blessing to others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PHOTO GALLERY  Make one picture an album.-->
  <section id="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">The Mountain Mission Life</h1>
      <p class="text-center">Check out our photos</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="/img/baseball.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="560"
            data-width="560">
            <img src="/img/baseball.jpg" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a href="/img/_MG_9982.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="561"
            data-width="561">
            <img src="/img/_MG_9982.jpg" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a href="/img/_MG_8001-2.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="562"
            data-width="562">
            <img src="/img/_MG_8001-2.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <a href="/img/_MG_7282.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="563"
            data-width="563">
            <img src="/img/_MG_7282.jpg" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a href="/img/_MG_3804.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="564"
            data-width="564">
            <img src="/img/_MG_3804.jpg" alt="" class="img-fluid" />
          </a>
        </div>
        <div class="col-md-4">
          <a href="/img/IMG_6792.jpg" data-toggle="lightbox" data-gallery="img-galley" data-height="565"
            data-width="565">
            <img src="/img/IMG_6792.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWLETTER -->
  <section id="newletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Sign Up For Our Newsletter</h1>
          <p>
            Keep up with what God is doing at Mountain Mission School. Sign up now
            to receive emails about all the great things happening at MMS.
          </p>
          <form class="form-inline justify-content-center">
            <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name" />
            <input type="email" class="form-control mb-2 mr-2" placeholder="Enter Email" />
            <button class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer  %>

</body>

</html>