<% include ../partials/header %>

<div class="container">
    <h1>Add A New Picture To The Home Database</h1>
    <div class="row">
        <form action="" method='post'>
            <div class="form-group">
                <input type="text" class="form-control" name="url" placeholder="Add a Url for the picture" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="description" placeholder="Add a description (optional)">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>



<% include ../partials/footer %>